<section class="about page-link full flex fn">
  <ng-container *ngComponentOutlet="links"></ng-container>
  <div class="page-block full"></div>
  <app-p-title [title]="s.nav3" class="app-p-title"></app-p-title>
  <div class="separator"></div>
  <div class="about-item box-card">{{ (s.about1  | text:'capFirst') + ': ' + appVersion }}</div>
  <div class="about-item box-card">{{ (s.about2 | text:'capFirst') + ': ' + backVersion }}</div>
  <div class="separator"></div>
  <div class="about-item box-card">
    <a href="{{ web }}" target="_blank">{{ s.about3 | text:'capFirst' }} <i class="pi pi-github"></i></a>
  </div>
  <div class="about-item box-card">
    <a href="{{ web }}" target="_blank">{{ s.about4 | text:'capFirst' }} <i class="pi pi-github"></i></a>
  </div>
  <div class="separator"></div>
  <div class="about-item box-card">
    <a href="../privacy-policy" target="_self">{{ s.contact_form81 | text:'capFirst' }} <i class="pi pi-lock"></i></a>
  </div>
  <div class="separator"></div>
  <app-footer></app-footer>
  <app-to-top *ngIf="showToTop"></app-to-top>
</section>
