<section class="full grid projects">
  <i class="menu control pi pi-bars c1 r1 pointer" #pMenu (click)="toggleMenu()"></i>
  <span class="page-title c1 r1 ff s30bg">proyectos</span>
  <app-s30logo></app-s30logo>
  <ng-container *ngComponentOutlet="menu; inputs: {menuElem: pMenu}"></ng-container>
  <div class="projects-content overflow-y full c1 r2 grid">
    <span class="projects-txt fo c1 r1 flex items-center">
      los siguientes son proyectos desarrollados por afterbeta alojados en serial 30, mismos que comprenden aplicaciones
      dirigidas a plataformas web, m&oacute;viles y de escritorio, las cuales suplen variedad de necesidades.
    </span>
    <app-item *ngFor="let project of projects" [data]="project"></app-item>
  </div>
</section>
