<nav class="full grid shortcuts">
  <i class="pi pi-home c1 r1 control pointer fit"></i>
  <i class="pi pi-bolt c1 r2 control pointer fit"></i>
  <i class="pi pi-ethereum c1 r3 control pointer fit"></i>
  <i class="pi pi-phone c1 r4 control pointer fit"></i>
  <span class="shortcuts-home ff c1 r1 shortcuts-label">inicio</span>
  <span class="shortcuts-projects ff c1 r2 shortcuts-label">proyectos</span>
  <span class="shortcuts-about ff c1 r3 shortcuts-label">sobre nosotros</span>
  <span class="shortcuts-contact ff c1 r4 shortcuts-label">contacto</span>
</nav>
