.shortcuts {
  grid-template-columns: 1fr;
  grid-auto-rows: 1fr;
  padding: 4rem 0 0 2rem;
  align-items: center;
}
@media screen and (max-width: 1024px) { /* CSS FOR SMALL SCREENS */
  .shortcuts { padding: 4rem 0 0 1rem; }
}
.shortcuts-label {
  color: transparent;
  font-size: 1.7rem;
  font-weight: bold;
  letter-spacing: 0.5rem;
  margin-left: 4rem;
  padding: 1rem 0;
  background-clip: text;
  text-shadow: -2px -2px white;
  transition: transform 0.2s ease;
}
i:active,
.shortcuts-label:active {
  transform: scale(0.9) !important;
}
.pi {
  font-size: 1.3rem;
}

