<nav class="full grid shortcuts" (click)="navigate($event.target)">
  <i class="pi pi-home c1 r1 control pointer fit" data-goto="welcome"></i>
  <i class="pi pi-bolt c1 r2 control pointer fit" data-goto="projects"></i>
  <i class="pi pi-ethereum c1 r3 control pointer fit" data-goto="about"></i>
  <i class="pi pi-phone c1 r4 control pointer fit" data-goto="contact"></i>
  <span class="shortcuts-home ff c1 r1 shortcuts-label s30bg fit pointer" data-goto="welcome">inicio</span>
  <span class="shortcuts-projects ff c1 r2 shortcuts-label s30bg fit pointer" data-goto="projects">proyectos</span>
  <span class="shortcuts-about ff c1 r3 shortcuts-label s30bg fit pointer" data-goto="about">afterbeta</span>
  <span class="shortcuts-contact ff c1 r4 shortcuts-label s30bg fit pointer" data-goto="contact">contacto</span>
</nav>
