.footer {
  padding: 5rem 0;
  justify-content: space-evenly;
  align-items: center;
}
.footer-info {
  color: transparent;
  background-clip: text;
  font-weight: bold;
  letter-spacing: 1rem;
  font-size: 1.5rem;
}
.pi-bolt { font-weight: bold; }
@media screen and (max-width: 1025px) { /* CSS FOR SMALL SCREENS */
  .footer {
    justify-content: center;
    gap: 1rem;
  }
  .footer-info { letter-spacing: 0; }
  .footer-info:last-child {
    flex-basis: 100%;
    text-align: center;
  }
}
